body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Заставляем корневой элемент React занимать все доступное пространство */
#root {
  height: 100%;
  width: 100%;
}

/* (Опционально, но рекомендуется) 
   Это правило говорит браузеру включать padding и border 
   в общую ширину/высоту элемента, что делает верстку интуитивнее.
*/
* {
  box-sizing: border-box;
}